/*  Fix responsiveness :/ */

* {
  font-family: "OpenSans";
}

p {
    font-size: 12px;
}

hr {
    margin-top: 50px;
    margin-bottom: 0px;
}

h3 {
    margin: 50px 0px 40px;
}

h3:before {
    background-color: #e1e6ea;
    content: "";
    display: inline-block;
    position: relative;
    width: 7px;
    padding-bottom: 3%;
    overflow: hidden;
    margin-right: 10px;
}

/*  Navigation Bar ============================= */
.navbar {
    background-color: #1d2126;
    padding: 10px 240px; 
}

.navbar-brand img {
    height: 17px;
}

.navbar-nav {
  font-size: 14px;
  color: #a4aead;
}

.nav-link {
    padding: 0px 10px;
    margin: 9px 10px;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color:#23b7a4;
    border: 1px solid #23b7a4; 
}

.navbar-dark .navbar-nav .nav-link:hover {
     border: 1px solid #a4aead; 
     color: #a4aead;
}

/*  Section 1 ============================= */ 
.section1 {
    position: relative;
}

.section1-primary {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 177px 240px;
    color: #fff;
}

.btn-outline-primary {
    border-color: #fff;
    color: #fff;
    font-size: 14px;
}

.btn-outline-primary:hover {
    background-color:#23b7a4;
    border-color:#23b7a4;
    cursor: pointer;
}

button + button {
    margin-left: 5px;
}

/*  Carousel ================================== */ 
.carousel-item {
    height: 500px;
}

.carousel-indicators {
    right: 80px;
    left: auto;
}

.carousel-indicators:hover {
    cursor: pointer;
}

ol.carousel-indicators li { 
  border: 1px solid #fff;
  background: transparent;
  width: 10px;
  height: 10px;  
  margin: 3px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  background: #fff;
}

/*  Section 2 ============================= */ 

.section2,
.section3,
.section4,
.section5 {
    padding: 0px 240px;
}

.section2 p {
    color: #8d8f92;
}

/*  Section 2 primary */
.section2-primary {
    padding-right: 60px;
}

.socialmedia div{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: -1.5px; 
    background-color: #a4aead;
    background-position: center center; 
    background-repeat: no-repeat; 
    
}

.socialmedia .be {
    margin: -2px -2px; /* analizar esta excepcion */
}

.socialmedia div:hover {
    background-color: #d0d5d9;
    cursor: pointer;
}

/*  Section 2 secondary */
.rectangle-list ol {
counter-reset:li; /* Initiate a counter */
margin-left:0; 
padding-left:0; 
}

.rectangle-list ol > li {
position: relative;
list-style:none; /* Disable the normal item numbering */
}

.rectangle-list h6:before {
content: counter(li, decimal-leading-zero);
counter-increment: li;
position: absolute;	
left: -2.5em;
top: 100%;
margin-top: -1em;
background: #23b7a4;
color: #fff;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
}

/*  Section 3 ============================= */ 

.card-body {
    padding: 0.6rem 1rem;
    background-color: #e1e6ea;
}

.card {
    border: none;
}

.card-img-top {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.card-title {
    margin-bottom: 0rem;
    font-size: .75rem;
    color: #292f36;
}

.card-text {
    font-size: .65rem;
    color: #8d8f92;
}

.card-deck div:hover {
    background-color: #292f36;
    color: #fff;
}


/*  Section 4 ============================= */ 
.section4 {
    background-color: #3a454d;
    color: white;
}

.section4 h3 {
    margin: 0px;
    padding: 50px 0px 40px;
}

/*  Section 5 ============================= */ 

.section5 .fa {
    color: #23b7a4;
    margin: 1.5rem 0rem;
}

.section5 p + p {
    color: #8d8f92;
}