
/*  Navigation Bar */
.navbar {
    background-color: #1d2126;
    padding: 10px 240px;
}

.navbar-brand img {
    height: 17px;
}

.navbar-nav {
  font-size: 14px;
  font-family: "OpenSans";
  color: #a4aead;
}

.nav-link {
    padding: 0px 10px;
    margin: 9px 10px;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color:#23b7a4;
     border: 1px solid #23b7a4; 
}

.navbar-dark .navbar-nav .nav-link:hover {
     border: 1px solid #a4aead; 
}

/*  Carousel */

.carousel {
    position: inherit;
    z-index: -99; /* keeps this behind all content   */
}
.carousel .item {
    position: fixed;  
    width: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    top: 61px;
    left: 0px;
    padding: 17%;
}

.carousel .one {
    background: url(images/banner1.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background: url(images/banner2.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .three {
    background: url(images/banner.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  margin: 3px;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  padding: 0px;
  background: transparent;
}

ol.carousel-indicators li.active {
  background: #fff;;
}

.carousel-indicators {
    margin-left: 69%;
}

/* sectionb1 */

/* .section1b {
    position: absolute;
} */
